body {
  font-family: Arial, Helvetica, sans-serif;
  width: 85%;
  margin: 0 auto;
}

ul {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.row,
.column,
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline-block;
}

nav a {
  color: black;
  text-decoration: none;
}

.home {
  height: 250px;
  text-align: center;
  padding-top: 100px;
}

select,
button {
  width: 100%;
  margin: 1.5em 0;
  padding: 8px 20px;
  font-size: 22px;
  border-radius: 5px;
}

.interest {
  display: flex;
  column-gap: 30px;
  margin-top: 25px;
}

.col {
  border: 1px solid grey;
  padding: 1.3em;
}

.interest .colserve {
  padding-top: 40px;
}

.details {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.socials {
  padding-top: 20px;
}

.socials img {
  padding: 20px;
}

.terms {
  padding-top: 40px;
}

.products img {
  width: 150px;
}

button {
  width: 80%;
  color: #fff;
  background-color: brown;
  margin-left: 150px;
}
