html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 90%;
  margin: 0 auto;
  background-color: #f1f1f1;
}

ul {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.row,
.column,
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  display: inline-block;
  margin-top: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  padding-right: 20px;
}

.home {
  height: 250px;
  text-align: center;
  padding-top: 100px;
}

select,
button {
  width: 100%;
  margin: 1.5em 0;
  padding: 8px 20px;
  font-size: 22px;
  border-radius: 5px;
}

.interest {
  display: flex;
  column-gap: 30px;
  margin-top: 25px;
}

.col {
  border: 1px solid grey;
  padding: 1.3em;
  border-radius: 3px;
}

.interest .colserve {
  padding-top: 40px;
}

.details {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.socials {
  padding-top: 20px;
}

.socials img {
  padding: 20px;
}

.terms {
  padding-top: 40px;
}

.products img {
  width: 150px;
}

.products {
  padding: 30px;
}

button {
  width: 80%;
  color: #fff;
  background-color: brown;
  margin-left: 150px;
  font-size: 18px;
}

.home .intro {
  font-size: 35px;
  font-weight: bolder;
  padding-bottom: 1rem;
}

.home .pitch {
  font-size: 20px;
}

.col h3 {
  color: brown;
}

.col p {
  font-size: small;
}

.terms p,
.colserve p {
  font-size: 18px;
}

.colserve p,
.colserve h3,
.service h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.service h1 {
  margin-top: 30px;
  padding-top: 80px;
  font-size: 28px;
  font-weight: 600;
}

main h2 {
  padding-top: 30px;
}

.column img {
  padding: 45px 0 30px 0;
}

.add-btn {
  background: transparent;
  color: red;
  text-transform: capitalize;
  cursor: pointer;
 
  margin-right: 0px;
  font-size: 5px;
  border: 1px grey solid;
  background-color: #fff;
  
}
